{% extends "base.html" %}
{% load static %}

{% block title %} {{ _("Sign up") }} {% endblock%}
 {% block css %}
<style></style>
{% endblock %} {% block content %}

<ion-content class="ion-padding">
  <div class="row h-100">
    <div class="d-none d-md-block col-md-6 col-lg-8"
    style="background-image: url('{% static "img/background.jpeg" %}'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-5">
      <form method="post" action=".">
         {% csrf_token %}
        <div class="ion-text-center">
          <img src="{% static 'img/logo.svg' %}" class="img-fluid" alt="logo">
          <h3>{{ _('Create your account!') }}</h3>
        </div>
        <div class="padding">
          <ion-item>
            <ion-input
             label-placement="floating"
              name="first_name"
              type="text"
              label="{{ _('First Name') }}"
              required
            ></ion-input>
         
          </ion-item>
          <ion-item>
            <ion-input
             label-placement="floating"
              name="last_name"
              type="text"
             label="{{ _('Last Name') }}"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
             label-placement="floating"
              name="email"
              type="email"
             label="{{ _('Email') }}"
              required
            ></ion-input>
            
          </ion-item>
          <ion-item>
            <ion-input
             label-placement="floating"
              name="password1"
              type="password"
             label="{{ _('Password') }}"
              required
            ></ion-input>
          
          </ion-item>
          <ion-item>
            <ion-input
             label-placement="floating"
              name="password2"
              type="password"
             label="{{ _('Password again') }}"
              required
            ></ion-input>
           
          </ion-item>
          {% if form.erros %}
            {% for field in form %}
              {% for error in field.errors %}
              <span errorText="error">
                {{ error|escape }}
              </span>
              {% endfor %}
            {% endfor %}
          {% endif%}
        </div>
        <div class="mt-5">
          <ion-button size="large" type="submit" expand="block">
            {{ _('Register') }}
          </ion-button>
        </div>
      </form>
      <div class="mt-5">
        <a class="nav-link" href="/auth/sign-in"> {{ _('Do you already have an account?') }} </a>
      </div>
    </div>
  </div>
</ion-content>
{% endblock %}