{% extends "base.html" %}

{% block title %}Index Title{% endblock %}

{% block css %}
<style>

</style>

{% endblock %}

{% block header %}Site Header{% endblock %}

{% block content %}
<h2>{{ trans }}</h2>
   <p>Make up some text to place here : : : </p>

<ion-button id="present-alert">Click Me</ion-button>
<ion-alert
  trigger="present-alert"
  header="A Short Title Is Best"
  sub-header="A Sub Header Is Optional"
  message="A message should be a short, complete sentence."
></ion-alert>




{% endblock %}

{% block footer%} Site Footer {% endblock %}
{% block js %}
<script>
const alert = document.querySelector('ion-alert');
  alert.buttons = ['Action'];
</script>
{% endblock %}
